<div class="container">
    <div class="row">
        <div  class="col-md-6">
                <img src={{image}} class="imagesize" alt="...">
          

            
        </div>
        <div class="col-md-6">
           <p>Name:</p><p class="font">{{name}}</p>
           <p>Author:</p> <p class="font">{{author}}</p>
           <p>Price:</p> <p class="font">{{price}}</p>
           <p>Details:</p> <p>{{details}}</p>
           <a routerLink="" (click)="lol()" class="btn btn-success">Add to Cart</a> &nbsp;&nbsp;
         
           <br>



        </div>
    </div>

</div>